{% extends "elibrary/base.html" %}
{% block content %}
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8">
    	<h3 style="text-align: center">
    		B.E. (Computer Science and Engineeringy)
    	</h3>
    	<h5 style="text-align: left">
    		Semester-VII
    	</h5>
    	<div class="table-responsive-md">
			<table class="table table-bordered table-condensed" border="3" style="align-content: left;">
				<thead>
					<tr class="table-active">
						<th rowspan="3">S.No</th>
						<th rowspan="3">Course Code</th>
						<th rowspan="3">Title of the Course</th>
						<th colspan="2">Scheme of Instruction</th>
						<th colspan="3">Scheme of Examination</th>
						<th rowspan="3">Credits</th>
					</tr>
					<tr class="table-active">
						<th colspan="2">Hours per week</th>
						<th rowspan="2">Duration of SEE in Hours</th>
						<th colspan="2">Maximum Marks</th>
					</tr>
					<tr class="table-active">
						<th>L/T</th>
						<th>P/D</th>
						<th>CIE</th>
						<th>SEE</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="9" style="text-align: center">THEORY</td>
					</tr>
					<tr class="table-success">
						<td>1</td>
						<td>16CSC33</td>
						<td>Data Science and Big Data Analysis</td>
						<td>3</td>
						<td>-</td>
						<td>3</td>
						<td>30</td>
						<td>70</td>
						<td>3</td>
					</tr>
					<tr class="table-danger">
						<td>2</td>
						<td>18CSC34</td>
						<td>Free and Open Source Software</td>
						<td>3</td>
						<td>-</td>
						<td>3</td>
						<td>30</td>
						<td>70</td>
						<td>3</td>
					</tr>
					<tr class="table-info">
						<td>3</td>
						<td>18CSC35</td>
						<td>Distributed and Cloud Computing</td>
						<td>3</td>
						<td>-</td>
						<td>3</td>
						<td>30</td>
						<td>70</td>
						<td>3</td>
					</tr>
					<tr class="table-warning">
						<td>4</td>
						<td>18CSC36</td>
						<td>Machine learning</td>
						<td>3/1</td>
						<td>-</td>
						<td>3</td>
						<td>30</td>
						<td>70</td>
						<td>4</td>
					</tr>
					<tr class="table-active">
						<td>5</td>
						<td></td>
						<td>Elective-IV</td>
						<td>3</td>
						<td>-</td>
						<td>3</td>
						<td>30</td>
						<td>70</td>
						<td>3</td>
					</tr>
					<tr class="table-success">
						<td>6</td>
						<td></td>
						<td>Elective-V</td>
						<td>3</td>
						<td>-</td>
						<td>3</td>
						<td>30</td>
						<td>70</td>
						<td>3</td>
					</tr>
					<tr>
						<td colspan="9" style="text-align: center">PRACTICALS</td>
					</tr>
					<tr class="table-danger">
						<td>7</td>
						<td>16CSC37</td>
						<td>DSBDA Lab</td>
						<td>-</td>
						<td>3</td>
						<td>3</td>
						<td>25</td>
						<td>50</td>
						<td>2</td>
					</tr>
					<tr class="table-info">
						<td>8</td>
						<td>18CSC38</td>
						<td>ML Lab</td>
						<td>-</td>
						<td>3</td>
						<td>3</td>
						<td>25</td>
						<td>50</td>
						<td>2</td>
					</tr>
					
					<tr class="table-warning">
						<td>9</td>
						<td>18CSC39</td>
						<td>Project Seminar</td>
						<td>-</td>
						<td>3</td>
						<td>3</td>
						<td>50</td>
						<td>-</td>
						<td>2</td>
					</tr>
					<tr class="table-active">
						<td></td>
						<td></td>
						<td>TOTAL</td>
						<td>19</td>
						<td>9</td>
						<td>-</td>
						<td>280</td>
						<td>520</td>
						<td>25</td>
					</tr>
				</tbody>
			</table>
        </div>
        <p><strong>L:Lecture</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>T:Tutorial</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong> D:Drawing </strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>P:Practical</strong></p>
        
        <p><strong>CIE-Continuous Internal Evaluation</strong> &nbsp;&nbsp;&nbsp;<strong> SEE-Semester End Examination</strong> </p>

        
    </div>
    <div class="col-md-4">
    	<h2> Semester-VII Subjects </h2>
        <div>
			<br>
			<div class="d-flex justify-content-center">
				<a href="{% url 'subjectview_sem7' %}"> 
					<img class="img-fluid" src="/media/CSE/sem7/Slide1.JPG" alt="BDA" style="width: 500px; height: 230px">
				</a>
			</div>		
			<br> 
			<div class="d-flex justify-content-center">
				<a href="{% url 'subjectview_sem7' %}">
					<img class="img-fluid" src="/media/CSE/sem7/Slide2.JPG" alt="DS" style="width: 500px; height:230px">
				</a>
			</div>
			<br>
			<div class="d-flex justify-content-center">
				<a href="{% url 'subjectview_sem7' %}">
					<img class="img-fluid" src="/media/CSE/sem7/Slide3.JPG" alt="ESIOT" style="width: 500px; height:230px">
				</a>
			</div>
			<br>
			<div class="d-flex justify-content-center">
				<a href="{% url 'subjectview_sem7' %}">
					<img class="img-fluid" src="/media/CSE/sem7/Slide4.JPG" alt="IS" style="width: 500px; height:230px">
				</a>
			</div>
			<br>
			<br>
		</div>		
	</div>

  </div>

</main>

<footer class="page-footer font-small">
	<nav class="navbar navbar-expand-md navbar-dark bg-steel">
  
	  <div>
	  	<br>
	    <p style="color: white">Back to 
	    <a href="{% url 'library-cse-sem6' %}" style="color: red">Sem6</a>
	    page</p>


	    <p style="color: white">Go to 
	    	<a href="{% url 'library-cse-sems' %}" style="color: red">Sems</a>
	    page</p>
	  </div>

	</nav>

</footer>


{% endblock content %}