{% extends "elibrary/base.html" %}
{% block content %}
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8">
    	<h3 style="text-align: center">
    		B.E. (Information Technology)
    	</h3>
    	<h5 style="text-align: left">
    		Semester-III
    	</h5>
    	<div class="table-responsive-md">
			<table class="table table-bordered table-condensed" border="3" style="align-content: left;">
				<thead>
					<tr class="table-active">
						<th rowspan="3">S.No</th>
						<th rowspan="3">Course Code</th>
						<th rowspan="3">Title of the Course</th>
						<th colspan="2">Scheme of Instruction</th>
						<th colspan="3">Scheme of Examination</th>
						<th rowspan="3">Credits</th>
					</tr>
					<tr class="table-active">
						<th colspan="2">Hours per week</th>
						<th rowspan="2">Duration of SEE in Hours</th>
						<th colspan="2">Maximum Marks</th>
					</tr>
					<tr class="table-active">
						<th>L/T</th>
						<th>P/D</th>
						<th>CIE</th>
						<th>SEE</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="9" style="text-align: center">THEORY</td>
					</tr>
					<tr class="table-success">
						<td>1</td>
						<td>18ITC04</td>
						<td>Data Structures and Algorithm</td>
						<td>3</td>
						<td>-</td>
						<td>3</td>
						<td>30</td>
						<td>70</td>
						<td>3</td>
					</tr>
					<tr class="table-danger">
						<td>2</td>
						<td>18ITC05</td>
						<td>Discrete Mathematics and Applications</td>
						<td>3</td>
						<td>-</td>
						<td>3</td>
						<td>30</td>
						<td>70</td>
						<td>3</td>
					</tr>
					<tr class="table-info">
						<td>3</td>
						<td>18ECC34</td>
						<td>Basic Electronics</td>
						<td>3</td>
						<td>-</td>
						<td>3</td>
						<td>30</td>
						<td>70</td>
						<td>3</td>
					</tr>
					<tr class="table-warning">
						<td>4</td>
						<td>18MEC09</td>
						<td>Principle of Management</td>
						<td>3</td>
						<td>-</td>
						<td>3</td>
						<td>30</td>
						<td>70</td>
						<td>3</td>
					</tr>
					<tr class="table-active">
						<td>5</td>
						<td>18ITC05</td>
						<td>Basic Electrical Engineering</td>
						<td>3/1</td>
						<td>-</td>
						<td>3</td>
						<td>30</td>
						<td>70</td>
						<td>4</td>
					</tr>
					<tr class="table-success">
						<td>6</td>
						<td>18ITC05</td>
						<td>Environmental Science</td>
						<td>2</td>
						<td>-</td>
						<td>2</td>
						<td>-</td>
						<td>50</td>
						<td>Non-Credit</td>
					</tr>
					<tr>
						<td colspan="9" style="text-align: center">PRACTICALS</td>
					</tr>
					<tr class="table-danger">
						<td>7</td>
						<td>18ITC06</td>
						<td>Data Structures and Algorithms Lab</td>
						<td>-</td>
						<td>2</td>
						<td>2</td>
						<td>15</td>
						<td>35</td>
						<td>1</td>
					</tr>
					<tr class="table-info">
						<td>8</td>
						<td>18ITC08</td>
						<td>Mini Project-1</td>
						<td>-</td>
						<td>2</td>
						<td>-</td>
						<td>50</td>
						<td>-</td>
						<td>1</td>
					</tr>
					<tr class="table-warning">
						<td>9</td>
						<td>18ECC35</td>
						<td>Basic Electronics Lab</td>
						<td>-</td>
						<td>2</td>
						<td>2</td>
						<td>15</td>
						<td>35</td>
						<td>1</td>
					</tr>
					<tr class="table-active">
						<td>10</td>
						<td>18EGC03</td>
						<td>Soft Skills</td>
						<td>-</td>
						<td>2</td>
						<td>2</td>
						<td>15</td>
						<td>35</td>
						<td>1</td>
					</tr>
					<tr class="table-success">
						<td>11</td>
						<td>18EEC02</td>
						<td>Basic Electrical Engineering Lab</td>
						<td>-</td>
						<td>2</td>
						<td>2</td>
						<td>15</td>
						<td>35</td>
						<td>1</td>
					</tr>
					<tr class="table-danger">
						<td></td>
						<td></td>
						<td>TOTAL</td>
						<td>17/1</td>
						<td>10</td>
						<td>-</td>
						<td>260</td>
						<td>540</td>
						<td>21</td>
					</tr>
				</tbody>
			</table>
        </div>
        <p><strong>L:Lecture</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>T:Tutorial</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong> D:Drawing </strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>P:Practical</strong></p>
        
        <p><strong>CIE-Continuous Internal Evaluation</strong> &nbsp;&nbsp;&nbsp;<strong> SEE-Semester End Examination</strong> </p>
    </div>
    <div class="col-md-4">
    	<h2> Semester-III Subjects </h2>
        <div>
			<br>
			<div class="d-flex justify-content-center">
				<a href="{% url 'subjectview_sem3' %}"> 
					<img class="img-fluid" src="/media/IT/sem3/DSA.jpg" alt="DSA" style="width: 500px; height: 250px">
				</a>
			</div>		
			 
			<div class="d-flex justify-content-center">
				<a href="{% url 'subjectview_sem3' %}">
					<img class="img-fluid" src="/media/IT/sem3/DMA.jpg" alt="DMA" style="width: 500px; height:250px">
				</a>
			</div>
			
			<div class="d-flex justify-content-center">
				<a href="{% url 'subjectview_sem3' %}">
					<img class="img-fluid" src="/media/IT/sem3/BE.jpg" alt="ECE" style="width: 500px; height:250px">
				</a>
			</div>
			
			<div class="d-flex justify-content-center">
				<a href="{% url 'subjectview_sem3' %}">
					<img class="img-fluid" src="/media/IT/sem3/POM.jpg" alt="POM" style="width: 500px; height:250px">
				</a>
			</div>
			
			<div class="d-flex justify-content-center">
				<a href="{% url 'subjectview_sem3' %}">
					<img class="img-fluid" src="/media/IT/sem3/BEE.jpg" alt="BEE" style="width: 500px; height:250px">
				</a>
			</div>
		</div>		
	</div>

  </div>

</main>

<footer class="page-footer font-small">
	<nav class="navbar navbar-expand-md navbar-dark bg-steel">
  
	  <div>
	  	<br>
	    <p style="color: white">Back to 
	    <a href="{% url 'library-it-sem2' %}" style="color: red">Sem2</a>
	    page</p>


	    <p style="color: white">Go to 
	    	<a href="{% url 'library-it-sem4' %}" style="color: red">Sem4 </a>
	    page</p>
	  </div>

	</nav>

</footer>

{% endblock content %}