{% extends "elibrary/base.html" %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<style>
		#demo1
		{
			font-size: 10px;
			text-decoration: none;
		} 
      	#demo2
		{
			font-size: 30px;  
			text-decoration: none;
		}
		#demo3
		{
			font-size: 30px;  
			text-decoration: none;
		}
		#demo4
		{
			font-size: 10px;
			text-decoration: none;
		} 
      	#demo5
		{
			font-size: 30px;  
			text-decoration: none;
		}
		#demo6
		{
			font-size: 30px;  
			text-decoration: none;
		}
		#demo7
		{
			font-size: 10px;
			text-decoration: none;
		} 
      	#demo8
		{
			font-size: 30px;  
			text-decoration: none;
		}
		#demo9
		{
			font-size: 30px;  
			text-decoration: none;
		}
		#demo10
		{
			font-size: 10px;
			text-decoration: none;
		} 
      	#demo11
		{
			font-size: 10px;  
			text-decoration: none;
		}
		#demo12
		{
			font-size: 30px;  
			text-decoration: none;
		}
        .container 
        {
		  position: relative;
		  text-align: center;
		  color: white;
		}
		.centered 
		{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		img
		{
			width: 60%;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
    </style>

<main role="main" class="container">
    <div class="row">
	
	<div class="container">
        <img src="/media/home_page/template2.jpeg" alt="template" onclick="change_text1()"> 
        
        <div class="centered">
            <a id="demo1" href="#">
            <strong>Unit-1</strong>	
            <br>
            Using Arrays, Storing Game Entries in an Array, Two-Dimensional Arrays. Singly Linked Lists, Implementing a Singly Linked List, Insertion to the front of a Singly Linked List, Removal from the front of a Singly Linked List. Doubly Linked Lists, Insertion into a Doubly Linked List, Removal from a Doubly Linked List, Circularly Linked Lists, Reversing a Linked List. Recursion, Linear Recursion, Binary Recursion, Multiple Recursion, Analysis of Algorithms.
        	</a>
        	<br>
        	<a id="demo2" href="#">
        	</a>
        	<br>
        	<a id="demo3" href="#">
        	</a>
        	
            <br>	
        </div>
    </div> 
    <br>
    <div class="container">
        <img src="/media/home_page/template2.jpeg" alt="template" onclick="change_text2()"> 
        
        <div class="centered">
            <a id="demo4" href="#">
            <strong>UNIT_II</strong>
            <br>	
			<strong>Mathematical Reasoning, Induction, and Recursion:</strong> Proof Strategy, Sequence
			and Summation, Mathematical Induction, Recursive Definitions and Structural
			Induction, Recursive Algorithms.
			<strong>Counting:</strong> Basics of Counting, Pigeonhole Principle, Permutations and
			Combinations– Binomial Coefficients, Generalized Permutations and
			Combinations, Generating Permutations and Combinations.
        	</a>
        	<br>
        	<a id="demo5" href="#">
        	</a>
        	<br>
        	<a id="demo6" href="#">
        	</a>
        	
            <br>	
        </div>
    </div>
    <br>
    <div class="container">
        <img src="/media/home_page/template2.jpeg" alt="template" onclick="change_text3()"> 
        
        <div class="centered">
            <a id="demo7" href="#">
            <strong>UNIT_III</strong>
            <br>	
			<strong>Advanced Counting Techniques:</strong> Recurrence Relations, Solving Linear
			Recurrence Relations, Divide and Conquer Algorithms and Recurrence Relations,
			Generating Functions, Inclusion–Exclusion, Application of Inclusion – Exclusion.
			<strong>Relations:</strong> Relations & their Properties, N-ary Relations and Applications,
			Representing Relations, Closures of Relations, Equivalence Relations, Partial
			Orderings.
        	</a>
        	<br>
        	<a id="demo8" href="#">
        	</a>
        	<br>
        	<a id="demo9" href="#">
        	</a>
        	
            <br>	
        </div>
    </div>
    <br>
    <div class="container">
        <img src="/media/home_page/template2.jpeg" alt="template" onclick="change_text4()"> 
        
        <div class="centered">
            <a id="demo10" href="#">
            <strong>UNIT_IV</strong>
            <br>	
			<strong>Algebraic Structures:</strong> Algebraic System - General Properties, semi groups,
			Monoids, Homomorphism, Groups, Residue arithmetic, group codes and their
			applications.
        	</a>
            <br>	
        </div>
    </div>
    <br>
    <div class="container">
        <img src="/media/home_page/template2.jpeg" alt="template" onclick="change_text5()"> 
        
        <div class="centered">
            <a id="demo11" href="#">
            <strong>UNIT_V</strong>
            <br>	
			<strong>Graphs:</strong> Graphs and Graph Models, Graph Terminology, Representing Graphs
			and Graph Isomorphism, Connectivity, Euler and Hamilton Paths, Shortest Path
			Problems, Planar Graphs, Graph Coloring.
			<strong>Trees:</strong> Introduction to Trees, Application of Trees, Tree Traversal, Spanning
			Trees, Minimum Spanning Trees.
        	</a>
        	<br>
        	<a id="demo12" href="#">
        	</a>
        	<br>
        		
        </div>
    </div>

</div>

</main>

	<script>

		function change_text1()
		{
			document.getElementById("demo1").innerHTML = "part1 PDF"
			document.getElementById("demo1").href = "/media/IT/sem3/DMA/DMA_unit1/Part-1.pdf"
			document.getElementById("demo1").target = "_blank"
			document.getElementById("demo1").style.fontSize = "30px"

			document.getElementById("demo2").innerHTML = "part2 PDF"
			document.getElementById("demo2").href = "/media/IT/sem3/DMA/DMA_unit1/Part-2.pdf"
			document.getElementById("demo2").target = "_blank"

			document.getElementById("demo3").innerHTML = "part3 PDF"
			document.getElementById("demo3").href = "/media/IT/sem3/DMA/DMA_unit1/Part-3.pdf"
			document.getElementById("demo3").target = "_blank"
	
		}

		function change_text2()
		{
			document.getElementById("demo4").innerHTML = "part1 PDF"
			document.getElementById("demo4").href = "/media/IT/sem3/DMA/DMA_unit2/Part-1.pdf"
			document.getElementById("demo4").target = "_blank"
			document.getElementById("demo4").style.fontSize = "30px"

			document.getElementById("demo5").innerHTML = "part2 PDF"
			document.getElementById("demo5").href = "/media/IT/sem3/DMA/DMA_unit2/Part-2.pdf"
			document.getElementById("demo5").target = "_blank"

			document.getElementById("demo6").innerHTML = "part3 PDF"
			document.getElementById("demo6").href = "/media/IT/sem3/DMA/DMA_unit2/Part-3.pdf"
			document.getElementById("demo6").target = "_blank"
	
		}

		function change_text3()
		{
			document.getElementById("demo7").innerHTML = "part1 PDF"
			document.getElementById("demo7").href = "/media/IT/sem3/DMA/unit3/Part-1.pdf"
			document.getElementById("demo7").target = "_blank"
			document.getElementById("demo7").style.fontSize = "30px"

			document.getElementById("demo8").innerHTML = "part2 PDF"
			document.getElementById("demo8").href = "/media/IT/sem3/DMA/unit3/Part-2.pdf"
			document.getElementById("demo8").target = "_blank"

			document.getElementById("demo9").innerHTML = "part3 PDF"
			document.getElementById("demo9").href = "/media/IT/sem3/DMA/unit3/Part-3.pdf"
			document.getElementById("demo9").target = "_blank"
	
		}

		function change_text4()
		{
			document.getElementById("demo10").innerHTML = "Algebraic structures"
			document.getElementById("demo10").href = "/media/IT/sem3/DMA/unit 4/algebric_structures.pdf"
			document.getElementById("demo10").target = "_blank"
			document.getElementById("demo10").style.fontSize = "30px"
	
		}

		function change_text5()
		{
			document.getElementById("demo11").innerHTML = "Graphs"
			document.getElementById("demo11").href = "/media/IT/sem3/DMA/unit 5/graphs.pdf"
			document.getElementById("demo11").target = "_blank"
			document.getElementById("demo11").style.fontSize = "30px"

			document.getElementById("demo12").innerHTML = "Trees"
			document.getElementById("demo12").href = "/media/IT/sem3/DMA/unit 5/trees.pdf"
			document.getElementById("demo12").target = "_blank"
	
		}


	</script>
        
   
{% endblock content %}
